In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('./caso.csv')

In [25]:
# pegar apenas as 20000 primeiras linhas
newDf = df.head(20001)
newDf

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2022-03-27,AP,NaN,state,160328,2122,734,True,845731.0,861773.0,16.0,18604.43527,0.0132
1,2022-03-26,AP,NaN,state,160321,2122,733,False,845731.0,861773.0,16.0,18603.62300,0.0132
2,2022-03-25,AP,NaN,state,160314,2122,732,False,845731.0,861773.0,16.0,18602.81072,0.0132
3,2022-03-24,AP,NaN,state,160301,2122,731,False,845731.0,861773.0,16.0,18601.30220,0.0132
4,2022-03-23,AP,NaN,state,160288,2122,730,False,845731.0,861773.0,16.0,18599.79368,0.0132
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,2020-06-12,AC,Rodrigues Alves,city,47,3,30,False,18930.0,19351.0,1200427.0,242.88150,0.0638
19997,2020-06-11,AC,Rodrigues Alves,city,47,3,29,False,18930.0,19351.0,1200427.0,242.88150,0.0638
19998,2020-06-10,AC,Rodrigues Alves,city,38,3,28,False,18930.0,19351.0,1200427.0,196.37228,0.0789
19999,2020-06-09,AC,Rodrigues Alves,city,38,3,27,False,18930.0,19351.0,1200427.0,196.37228,0.0789
20000,2020-06-08,AC,Rodrigues Alves,city,36,3,26,False,18930.0,19351.0,1200427.0,186.03690,0.0833

In [26]:
# traduzir colunas
newDf = newDf.rename(columns={'date': 'data', 'state': 'estado', 'city': 'cidade', 'place_type': 'tipo_local', 'confirmed': 'confirmados', 'deaths': 'mortes', 'order_for_place': 'ordem_lugar', 'is_last': 'e_ultimo', 'estimated_population_2019': 'populacao_estimada_2019', 'estimated_population': 'populacao_estimada', 'city_ibge_code': 'codigo_ibge_cidade', 'confirmed_per_100k_inhabitants': 'confirmados_por_100k_habitantes', 'death_rate': 'taxa_mortalidade'})

In [27]:
newDf

,data,estado,cidade,tipo_local,confirmados,mortes,ordem_lugar,e_ultimo,populacao_estimada_2019,populacao_estimada,codigo_ibge_cidade,confirmados_por_100k_habitantes,taxa_mortalidade
0,2022-03-27,AP,NaN,state,160328,2122,734,True,845731.0,861773.0,16.0,18604.43527,0.0132
1,2022-03-26,AP,NaN,state,160321,2122,733,False,845731.0,861773.0,16.0,18603.62300,0.0132
2,2022-03-25,AP,NaN,state,160314,2122,732,False,845731.0,861773.0,16.0,18602.81072,0.0132
3,2022-03-24,AP,NaN,state,160301,2122,731,False,845731.0,861773.0,16.0,18601.30220,0.0132
4,2022-03-23,AP,NaN,state,160288,2122,730,False,845731.0,861773.0,16.0,18599.79368,0.0132
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,2020-06-12,AC,Rodrigues Alves,city,47,3,30,False,18930.0,19351.0,1200427.0,242.88150,0.0638
19997,2020-06-11,AC,Rodrigues Alves,city,47,3,29,False,18930.0,19351.0,1200427.0,242.88150,0.0638
19998,2020-06-10,AC,Rodrigues Alves,city,38,3,28,False,18930.0,19351.0,1200427.0,196.37228,0.0789
19999,2020-06-09,AC,Rodrigues Alves,city,38,3,27,False,18930.0,19351.0,1200427.0,196.37228,0.0789
20000,2020-06-08,AC,Rodrigues Alves,city,36,3,26,False,18930.0,19351.0,1200427.0,186.03690,0.0833

In [28]:
# salvar em um novo arquivo csv
open('caso_covid.csv', 'w').write(newDf.to_csv())

1943537